directories.deploy=/tmp/dumpr/
directories.dist=/usr/bin/
directories.configuration=${user.home}/.dumpr/
directories.share=./share/

const.default.list.filename=download.lst
const.default.working.path=/tmp/
const.default.tmp.filename=${const.default.working.path}.dumpr$RANDOM
const.default.target.type="list"
const.default.dest.path=$PWD
const.default.conf.filename=conf-default
const.default.main.filename=dumpr.sh
const.default.helper.filename=helpers.pl
const.default.banner.filename=banner
const.default.helper.path="${directories.configuration}${const.default.helper.filename}"
const.default.conf.path="${directories.configuration}${const.default.conf.filename}"
const.default.banner.path="${directories.configuration}${const.default.banner.filename}"
const.default.conf.retry=100
const.default.conf.recursive=1
const.default.conf.recursion_depth=2
const.default.version.filename=version
const.default.log=0
const.default.quiet=0
const.default.log.filename=log
const.default.alert.title="Dumpr"

const.conf.default.proxy=127.0.0.1
const.conf.default.port=9050
const.conf.default.proto=--socks5-hostname

zip.filename=dumpr.zip

